tmp
.env
.envrc
bin/

logs
*.log

.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

logs
*.log

.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

build/

.cursorrules

secrets.yaml